/* ================================================================ 
  BASE STYLE START 
================================================================  */
html, body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #FFFFFF; }

html, body, ul, ol, li, form, fieldset, legend, h1, h2, h3, h4, h5, h6, p {
  border: 0;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

img {
  max-width: 100%;
  height: auto; }

li {
  list-style: none;
  display: inline-block; }

/* ================================================================ 
	BASE STYLE END
================================================================  */
/* ================================================================ 
	LAYOUT START
================================================================  */
/* ========== HEADER ========== */
header {
  overflow: hidden;
  border: 1px solid orange; }
  header div, header nav, header li {
    display: inline-block;
    vertical-align: middle; }
  header .name {
    border: 1px solid blue; }
  header nav {
    float: right; }

/* ========== NAVBAR ========== */
/* ========== FOOTER ========== */
footer {
  text-align: center;
  margin-bottom: 2em; }
  footer h3, footer p {
    padding-bottom: 1.5em;
    color: #039ED3; }
  footer ul {
    padding-bottom: 1.5em; }
  footer li {
    padding: 0 1em; }

.dribbble-hover img:last-child {
  display: none; }

.dribbble-hover:hover img:first-child {
  display: none; }

.dribbble-hover:hover img:last-child {
  display: inline-block; }

.flickr-hover img:last-child {
  display: none; }

.flickr-hover:hover img:first-child {
  display: none; }

.flickr-hover:hover img:last-child {
  display: inline-block; }

.instagram-hover img:last-child {
  display: none; }

.instagram-hover:hover img:first-child {
  display: none; }

.instagram-hover:hover img:last-child {
  display: inline-block; }

.linkedin-hover img:last-child {
  display: none; }

.linkedin-hover:hover img:first-child {
  display: none; }

.linkedin-hover:hover img:last-child {
  display: inline-block; }

.footerwrapper {
  width: 100px;
  overflow: hidden;
  margin: auto;
  padding-top: 1.5em;
  border-top: 2px solid #939292; }

/* ========== IMAGES ========== */
/* ========== CONTENT ========== */
/* ================================================================ 
	LAYOUT END
================================================================  */
/* ================================================================ 
	LINKS START 
================================================================  */
/* ========== LINKS ========== */
a {
  color: #939292;
  text-decoration: none; }

a:hover {
  color: #039ED3; }

.onpage {
  color: #039ED3; }

/* ================================================================ 
	LINKS END 
================================================================  */
/* ================================================================ 
	ABOUT PAGE START
================================================================  */
/* ================================================================ 
	ABOUT PAGE END
================================================================  */