/* ================================================================ 
  BASE STYLE START 
================================================================  */
html, body {
  width: auto;
  height: auto;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #FFFFFF; }

html, body, ul, ol, li, form, fieldset, legend, h1, h2, h3, h4, h5, h6, p {
  border: 0;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

img {
  max-width: 100%;
  height: auto; }

li {
  list-style: none;
  display: inline-block; }

/* ================================================================ 
	BASE STYLE END
================================================================  */
/* ================================================================ 
	LAYOUT START
================================================================  */
/* ========== HEADER ========== */
header {
  width: 95%;
  height: auto;
  position: fixed;
  overflow: hidden;
  padding: 0.5em 3em;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(147, 146, 146, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header nav {
    font-size: 16px;
    font-weight: 700; }
  header li {
    padding: 0 1.3em; }
  header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .logo .name {
      padding-left: 0.8em; }

/* ========== FOOTER ========== */
footer {
  text-align: center;
  margin-bottom: 2em; }
  footer h3, footer p {
    padding-bottom: 1.5em;
    color: #039ED3; }
  footer ul {
    padding-bottom: 1.5em; }
  footer li {
    padding: 0 1em; }

.dribbble-hover img:last-child {
  display: none; }

.dribbble-hover:hover img:first-child {
  display: none; }

.dribbble-hover:hover img:last-child {
  display: inline-block; }

.flickr-hover img:last-child {
  display: none; }

.flickr-hover:hover img:first-child {
  display: none; }

.flickr-hover:hover img:last-child {
  display: inline-block; }

.instagram-hover img:last-child {
  display: none; }

.instagram-hover:hover img:first-child {
  display: none; }

.instagram-hover:hover img:last-child {
  display: inline-block; }

.linkedin-hover img:last-child {
  display: none; }

.linkedin-hover:hover img:first-child {
  display: none; }

.linkedin-hover:hover img:last-child {
  display: inline-block; }

.footerwrapper {
  width: 100px;
  overflow: hidden;
  margin: auto;
  padding-top: 1.5em;
  border-top: 2px solid #939292; }

/* ========== IMAGES ========== */
/* ========== CONTENT ========== */
.content {
  padding-top: 65px; }

/* ================================================================ 
	LAYOUT END
================================================================  */
/* ================================================================ 
	LINKS START 
================================================================  */
/* ========== LINKS ========== */
a {
  color: #939292;
  text-decoration: none; }

a:hover {
  color: #039ED3; }

.onpage {
  color: #039ED3; }

/* ================================================================ 
	LINKS END 
================================================================  */
/* ================================================================ 
	ABOUT PAGE START
================================================================  */
.resume {
  width: 100%;
  padding: 1em 3em; }
  .resume h3 {
    font-weight: 400;
    text-align: center; }

.closingremarks {
  width: 100%;
  margin-bottom: 2em;
  padding: 2em 3em;
  background-color: #039ED3; }
  .closingremarks h3 {
    width: 50%;
    margin: auto;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF; }

/* ================================================================ 
	ABOUT PAGE END
================================================================  */