/*

	Janice Ng's Portfolio
	CSS: Media Queries

*/
/* ================================================================ 
	[LAPTOP MEDIA QUERY START]   
================================================================  */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  /* ========== BASE ========== */
  html, body {
    background-size: 100%; }
  /* ========== HOME PAGE ========== */
  .welcome-msg-index {
    padding: 5em 10em 5em 10em; }
  .surrey h1, .ibm h1, .farmooo h1, .sfu h1, .rayz h1 {
    margin-bottom: 0; }
  .surrey h3, .ibm h3, .farmooo h3, .sfu h3, .rayz h3 {
    width: 50%; } }

/* ================================================================ 
	[LAPTOP MEDIA QUERY END]   
================================================================  */
/* ================================================================ 
	[TABLET LANDSCAPE MEDIA QUERY START]   
================================================================  */
/* ================================================================ 
	[TABLET LANDSCAPE MEDIA QUERY END]   
================================================================  */
/* ================================================================ 
	[TABLET PORTRAIT MEDIA QUERY START]   
================================================================  */
/* ================================================================ 
	[TABLET PORTRAIT MEDIA QUERY END]   
================================================================  */
/* ================================================================ 
	[MOBILE LANDSCAPE MEDIA QUERY START]   
================================================================  */
/* ================================================================ 
	[MOBILE LANDSCAPE MEDIA QUERY END]   
================================================================  */
/* ================================================================ 
	[MOBILE PORTRAIT MEDIA QUERY START]   
================================================================  */
/* ================================================================ 
	[MOBILE PORTRAIT MEDIA QUERY END]   
================================================================  */