/*

	Janice Ng's Portfolio
	CSS: Home Page

*/



/* ================================================================ 
	INDEX PAGE START
================================================================  */

.welcome-msg-index {
	background-image: url('../../img/bg.png');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: auto;

	text-align: center;
	padding: 15em 5em;

	h1, h3 {
	  color: #FFFFFF;
	}
}

/* ================================================================ 
	INDEX PAGE END
================================================================ */