/* ================================================================ 
	ABOUT PAGE START
================================================================  */

.welcome-msg-about {
	background: linear-gradient(rgba(42,44,123,0.75),rgba(3,158,211,0.75)),url("../../img/about-profile-cover.jpg");
	background-size: cover;
	background-position: relative center;
	border-radius: 0 0 50% 50%;
	height: auto;
	margin-bottom: 2em;
	padding: 6em 6.8em 12em 6.8em;
	color: #FFFFFF;

	h1 {
		padding-bottom: 0.2em;
	}

	h3 {
		width: 50%;
		line-height: 1.5em;
	}
}

.who-am-i {
	padding: 3em 6.5em 5em 6.5em;

	display: flex;
	align-items: center;
	justify-content: space-between;

	h2 {
		color: #039ED3;
	}

	.who-am-i-text {
		width: 60%;
		margin-right: 10em;

	}

	.me-img {
		overflow: hidden;
		width: 100%;
		max-width: 300px;
		margin-right: 5em;
	}
}

.why-i-design {
	background: linear-gradient(rgba(42,44,123,0.75),rgba(3,158,211,0.75)),url("../../img/about-items.jpg");
	background-size: cover;
	background-position: center center;
	padding: 5em 6.5em;
	color: #FFFFFF;

	h4 {
		width: 60%;
	}

}

.resume {
	padding: 3em 0;

	h3 {
		text-align: center;
	}
}

.closing-remarks {
	background-color: #039ED3;
	padding: 3em 0;

	h3 {
		text-align: center;
		width: 50%;
		margin: auto;
		color: #FFFFFF;
	}
}

/* ================================================================ 
	ABOUT PAGE END
================================================================  */