@import 'index';
@import 'about';
@import 'mysurrey-portal';

/* ================================================================ 
  BASE STYLE START 
================================================================  */

html, body {
	width: auto;
	height: auto;
  	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  	font-size: 18px;
  	color: #000000;
  	background-color: #FFFFFF;
}

html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p {
  	border: 0;
  	margin: 0;
  	padding: 0;
}

	h1 {
		font-size: 64px;
		font-weight: 600;
		padding-bottom: 0.8em;
	}

	h2 {
		font-size: 48px;
		font-weight: 600;
		padding-bottom: 1em;
	}

	h3 {
		font-size: 32px;
		font-weight: 400;
	}

	h4 {
		font-size: 24px;
		font-weight: 400;
	}

	p {
		font-weight: 400;
	}

img {
	max-width: 100%;
	height: auto;
}

li {
  	list-style: none;
  	display: inline-block;
}

#bold {
	font-weight: 600;
}

/* ================================================================ 
	BASE STYLE END
================================================================  */



/* ================================================================ 
	LAYOUT START
================================================================  */

/* ========== HEADER ========== */

header {
	width: 95%;
	height: auto;
	position: fixed;
	overflow: hidden;
	padding: 0.6em 3em;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 10px rgba(147,146,146,0.5);

	display: flex;
	align-items: center;
	justify-content: space-between;

	h3 {
		font-weight: 600;
	}


	nav {
		font-size: 20px;
		font-weight: 600;
	}

	li {
		padding: 0 1.5em;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.name {
			padding-left: 1em;
		}
	}

}

/* ========== FOOTER ========== */

footer {
	text-align: center;
	margin: 4em 0;

	h3, p {
		color: #039ED3;
	}


	h3 {
		font-weight: 600;
		padding-bottom: 1.5em;
	}

	p {
		font-size: 18px;
	}

	ul {
		padding-bottom: 2em;
	}

	li {
		padding: 0 1em;
	}

}

	.dribbble-hover img:last-child {
		display: none;
	}

	.dribbble-hover:hover img:first-child {
		display:none;
	}

	.dribbble-hover:hover img:last-child {
		display: inline-block;
	}

	.flickr-hover img:last-child {
		display: none;
	}

	.flickr-hover:hover img:first-child {
		display:none;
	}

	.flickr-hover:hover img:last-child {
		display: inline-block;
	}

	.instagram-hover img:last-child {
		display: none;
	}

	.instagram-hover:hover img:first-child {
		display:none;
	}

	.instagram-hover:hover img:last-child {
		display: inline-block;
	}

	.linkedin-hover img:last-child {
		display: none;
	}

	.linkedin-hover:hover img:first-child {
		display:none;
	}

	.linkedin-hover:hover img:last-child {
		display: inline-block;
	}

	.footerwrapper {
		width: 100px;
		overflow: hidden;
		margin: auto;
		padding-top: 3em;
		border-top: 2px solid #939292;
	}

/* ========== CONTENT ========== */

.content {
	overflow: hidden;
	padding-top: 80px;
}

/* ================================================================ 
	LAYOUT END
================================================================  */



/* ================================================================ 
	LINKS START 
================================================================  */

/* ========== LINKS ========== */

a {
	color: #939292;
	text-decoration: none;
}

	a:hover {
		color: #039ED3;
	}

	.onpage {
		color: #039ED3;
	}

/* ========== BUTTONS ========== */

a.btn {
	display: inline-block;
	margin: 5em 0 4em 0;
	padding: 1em 3em;
	border-radius: 1em;
	border: 2px solid #FFFFFF;

	h4 {
		width: 100%;
		color: #FFFFFF;
	}
}

	a.btn:hover {
		display: inline-block;
		margin-top: 5em;
		padding: 1em 3em;
		border-radius: 1em;
		border: 2px solid #FFFFFF;
		background-color: #FFFFFF;

		h4 {
			width: 100%;
			color: #039ED3;
		}
	}

/* ================================================================ 
	LINKS END 
================================================================  */






