/*

	Janice Ng's Portfolio
	CSS: Media Queries

*/



/* ================================================================ 
	[LAPTOP MEDIA QUERY START]   
================================================================  */

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

	/* ========== BASE ========== */

	html, body {
		background-size: 100%;
		// background-color: orange;
	}

	/* ========== HOME PAGE ========== */

	.welcome-msg-index {
		padding: 5em 10em 5em 10em;
	}

	.surrey, .ibm, .farmooo, .sfu, .rayz {

		h1 {
			margin-bottom: 0;
		}

		h3 {
			width: 50%;
		}
	}

}

/* ================================================================ 
	[LAPTOP MEDIA QUERY END]   
================================================================  */



/* ================================================================ 
	[TABLET LANDSCAPE MEDIA QUERY START]   
================================================================  */

@media only screen and (min-width: 641px) and (max-width: 1280px) {
}

/* ================================================================ 
	[TABLET LANDSCAPE MEDIA QUERY END]   
================================================================  */



/* ================================================================ 
	[TABLET PORTRAIT MEDIA QUERY START]   
================================================================  */

@media only screen and (min-width: 641px) and (max-width: 1280px) {
}

/* ================================================================ 
	[TABLET PORTRAIT MEDIA QUERY END]   
================================================================  */



/* ================================================================ 
	[MOBILE LANDSCAPE MEDIA QUERY START]   
================================================================  */

@media only screen and (min-width: 641px) and (max-width: 1280px) {
}

/* ================================================================ 
	[MOBILE LANDSCAPE MEDIA QUERY END]   
================================================================  */



/* ================================================================ 
	[MOBILE PORTRAIT MEDIA QUERY START]   
================================================================  */

@media only screen and (min-width: 641px) and (max-width: 1280px) {
}

/* ================================================================ 
	[MOBILE PORTRAIT MEDIA QUERY END]   
================================================================  */