/* ================================================================ 
	MYSURREY PORTAL PAGE START
================================================================  */

.welcome-msg-surrey {
	background: linear-gradient(rgba(83,131,0,0.75),rgba(83,131,0,0.75)),url("../../img/surrey1.jpg");
	background-size: cover;
	background-position: bottom center;
	border-radius: 0 0 50% 50%;
	height: 350px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 2em;
	padding: 6em 6.8em 0 6.8em;

	h4 {
		font-style: italic;
	}
}

.process {

	.images-row1, .images-row2 {
		margin: 3em 3em 0 3em;
		display: flex;
		align-items: center;
		justify-content: space-between;

		img {
			width: 50%;
		}
	}

	.image-caption {
		background-color: #E4E4E4;
		display: flex;
		align-items: center;
		justify-content: space-between;

		img {
			width: 50%;
		}
	}

	.caption {
		padding: 5em;

		h3 {
			padding-bottom: 2em;
		}
	}
}

.project-nav-ibm {
	background: linear-gradient(rgba(3,158,211,0.75),rgba(3,158,211,0.75)),url("../../img/ibm-cover.jpg");	
	background-position: center center;
}

