/* ================================================================ 
	SFU COURSE ENROLLMENT SYSTEM PAGE START
================================================================  */

.welcome-msg-sfu {
	background: linear-gradient(rgba(166,25,46,0.75),rgba(166,25,46,0.75)),url("../../img/sfu1.jpg");
	background-size: cover;
	background-position: bottom center;
	border-radius: 0 0 50% 50%;
	height: 350px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 2em;
	padding: 6em 6.8em 0 6.8em;

	h4 {
		font-style: italic;
	}

	img {
		margin-top: 2em;
	}
}

.process {

	.images-row1, .images-row2 {
		margin: 3em 3em 0 3em;
		display: flex;
		align-items: center;
		justify-content: space-between;

		img {
			width: 50%;
		}
	}
}

.project-nav-rayz {
	background: linear-gradient(rgba(3,158,211,0.75),rgba(3,158,211,0.75)),url("../../img/rayz-cover.jpg");	
	background-position: bottom center;
}

